@media (max-width: 450px) {
    .weather-condition-container {
        display: flex;
        flex-direction: column;

        .to-day-weather-box {

            .carousel {

                .carousel-control-prev {
                    display: none;
                }
                
                .carousel-control-next {
                    display: none;
                }
            }
        }
    }
}